.second-since-last-change,
.cache-value,
.context-ecc-infos {
  float: left;
  margin-left: 15px;
}

.context-ecc-infos {
  line-height: 50px;
}

li.ttl-level {
  background-color: red;
  border-color: #ff0000;
  border-style: solid solid none solid;
  border-width: 1px;
  color: white;
  padding: 0 1em;
}
